# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Python / Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.env

# IDE / Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Log files
*.log
scratch/
